# This file contains common pin mappings for the 2018 Creality
# Ender 3. To use this config, the firmware should be compiled for the
# AVR atmega1284p.

# Note, a number of Melzi boards are shipped with a bootloader that
# requires the following command to flash the board:
#  avrdude -p atmega1284p -c arduino -b 57600 -P /dev/ttyUSB0 -U out/klipper.elf.hex
# If the above command does not work and "make flash" does not work
# then one may need to flash a bootloader to the board - see the
# Klipper docs/Bootloaders.md file for more information.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include klicky-probe.cfg]
[include TEST_SPEED.cfg]
# [include accelerometer.cfg]
[exclude_object]
[skew_correction]

[stepper_x]
step_pin: PD7
dir_pin: !PC5
enable_pin: !PD6
microsteps: 16
rotation_distance: 40.031
endstop_pin: ^PC2
position_endstop: 0
position_min: 0
position_max: 235  #235
homing_speed: 50

[stepper_y]
step_pin: PC6
dir_pin: PC7
enable_pin: !PD6
microsteps: 16
rotation_distance: 40.032
endstop_pin: ^PC3
position_endstop: 243 #0
position_min: -12     #most Ender 3 configs have this wrong. Between the nozzle and the bed is a gap of 8mm (Y dimension) when the printer is homed. If not adapt this and the -8 in the Probe_In Makro). 
position_max: 243
homing_speed: 50

[input_shaper]
shaper_freq_x: 88.0 # frequency for the X mark of the test model
shaper_type_x: mzv
shaper_freq_y: 86.8 # frequency for the Y mark of the test model
shaper_type_y: ei

[stepper_z]
step_pin: PB3
dir_pin: PB2
enable_pin: !PA5
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop #if you want to use the Prove as z-endstop (You can unsinstall the stock z endstop then. If not, remive the [homing_override])
# position_endstop: -0.4
position_min: -10
#8 # set a negative value (minimum as the probe z_offset)
position_max: 300

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB1
dir_pin: !PB0
enable_pin: !PD6
microsteps: 16
full_steps_per_rotation: 200
gear_ratio: 50:10
rotation_distance: 22.57
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PD5
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA7
control: pid
pressure_advance : 0.065
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 300

[heater_bed]
heater_pin: PD4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA6
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PB4

[mcu]
serial: /dev/ttyUSB0

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 5000
max_z_velocity: 5
max_z_accel: 50

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
# number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
# keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
# timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.


[bed_screws]
screw1: 30.5, 37
screw2: 30.5, 207
screw3: 204.5, 207
screw4: 204.5, 37

[display]
lcd_type: st7920
cs_pin: PA3
sclk_pin: PA1
sid_pin: PC1
encoder_pins: ^PD2, ^PD3
click_pin: ^!PC0

# [safe_z_home]
# home_xy_position: 117, 117
# speed: 100
# z_hop: 10
# z_hop_speed: 5

[probe]
pin: ^PC4 #Probe-Stop Connection on Skr Mini E3 V1.2
#z_offset: 0 #Measure per your specific setup
x_offset: 0 # negative = left of the nozzle
y_offset: 37 # negative = in front of of the nozzle
speed: 5.0
lift_speed: 15.0
sample_retract_dist: 4
samples: 2
samples_tolerance_retries: 6

[bed_mesh]
speed: 150
probe_count: 6,6
horizontal_move_z: 15
algorithm: bicubic
bicubic_tension: 0.2
mesh_min : 10, 25
mesh_max : 210, 200
mesh_pps: 3,3
adaptive_margin: 5

[gcode_arcs]
#resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

# The print bed can move so far to the front, that the nozzle can reach the
# plastic cover of the print bed heater cable (only when the bed is moved by
# hand). By homing the Y axis before the X axis, it is ensured the nozzle will
# not melt through the plastic part.
# BEWARE: You will lose the ability to home axes individually. The printer will
# always home all axes for every G28 command.
#[homing_override]
#gcode:
# G28 Y0
# G28 X0
# G28 Z0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = -1.300
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.106648, 0.032622, 0.225844, 0.440395, 0.742775
#*# 	-0.160600, -0.031367, 0.121705, 0.357586, 0.653692
#*# 	-0.348803, -0.179420, 0.001255, 0.252192, 0.565864
#*# 	-0.636127, -0.451687, -0.224589, 0.011292, 0.337511
#*# 	-1.025080, -0.764105, -0.465489, -0.168128, 0.166873
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 210.0
#*# min_y = 35.0
#*# max_y = 200.0
#*#
#*# [probe]
#*# z_offset = 10.285
